h1{
    color: blue;
}

p{
    color: tomato;
}

/* --Text Styling CSS-- 
    1) font-family  = mengatur jenis font yang akan digunakan
    2) font-size    = mengatur ukuran font
    3) font-weight  = mengatur ketebalan font
    4) font-variant = mengubah font menjadi small caps
    5) font-style   = mengubah bentuk font
    6) line-height  = mengatur spasi antar baris
*/

/* FONT FAMILY */
h1{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* FONT SIZE */
h1{
    font-size: 50px;
}

p{
    font-size: 25px;
}

/* FONT WEIGHT */
h1{
    font-weight: normal;
}

p{
    font-weight: bold;
}

/* FONT VARIANT */
h1{
    font-variant: small-caps;
}

/* FONT STYLE */
h1{
    font-style: italic;
}

p{
    font-style: oblique;
}